#root {
   margin: 0 auto;
   /* padding: 2rem; */
   --primaryColor:#1E7E51;
   --secondaryColor:#F3CB5F;
   --greyColor: #666666;

 }

h1 {
  font-size: 22px;
  font-weight: 500;
}
hr {
  border-color: hsl(0, 0%, 100%);
}
/* Container for the roster table */
.roster-container {
  /* min-width: 100%; */
  padding: 10px;
  border-radius: 8px;
  /* box-shadow: 4px 4px 4px 4px rgba(0.2, 0, 0, 0.1); */
  border: 1px solid #e0e0e0;
  background-color: #fff;
}

/* Styling for the table */
.roster-table {
  width: 100%;
  /* border-collapse: collapse; */
  font-family: "Roboto", sans-serif;
}

/* Styling for table headers */
.roster-table th {
  background-color: #e0e0e0;
  color: black;
  font-weight: 500;
  padding: 12px;
  text-align: left;
  font-size: 14px;
}

/* Styling for table cells */
.roster-table td {
  padding: 16px;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  text-align: center;
  cursor: "pointer",
                    
}

.roster-table td:hover {
  border-bottom: 1px solid #e0e0e0;
  background-color: #e9fcf3;
  text-align: center;
}

/* Red background for "Off" schedule cells */
.off-schedule {
  background-color: #ecb6b2; 
  color: white;
  font-weight: 500;
  cursor: not-allowed;
}
.off-schedule:hover {
  background-color: #ecb6b2 !important; 
  cursor: not-allowed;
}

/* Alternating row colors */
.roster-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Highlight table rows on hover */
.roster-table tr:hover {
  /* background-color: #f1f1f1; */
  cursor: pointer;
}

.clr-black{
  color:'#000' !important;
}

